<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Page</title>
</head>
<body>
    <h1>Data Filling Page</h1>
    <h2>Select League</h2>
    <button onclick="window.location.href='/data/epl'">EPL</button>
    <button onclick="window.location.href='/data/laliga'">La Liga</button>
    <button>Bundesliga</button>
    <button>Serie A</button>

    <h2>Select European Competition</h2>
    <button>UCL</button>
    <button>UEL</button>

    <h2>Select International Competition</h2>
    <button>Euro 2024</button>
    <button>Copa America 2024</button>

    <h2>News</h2>
    <button onclick="window.location.href='/data/news'">Go to News Section</button>
</body>
</html>