<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>recent matches</title>
</head>
<body>
    <h1>Recent Matches</h1>
    <form action="/data/recent-matches" method="post" enctype="multipart/form-data">
        <label for="">Upload the Excel sheet</label>
        <br>
        <input type="file" name="file" id="">
        <button>Submit</button>
    </form>
</body>
</html>